<div class="banner-home", style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(<%= image_path "pic.jpg" %>)">
  <div class="container d-flex justify-content-around">
    <h1>Book a house <br>wherever you want</h1>
    <div class="col-sm-12 col-md-8 col-lg-5 bg-white p-3 home-search-form">
      <h2>Search for a house</h2>
        <div class="content">
          <%= simple_form_for :filter, url: houses_path, method: :get do |f| %>
            <%= f.input :place, class: "form-control", required: false, label: false, placeholder: "Which city would you like to visit?" %>
            <div class="form-group string optional filter_date">
              <input class="form-control string optional datepicker flatpickr-input" type="text" name="filter[date]" id="filter_date" readonly="readonly" placeholder="Choose une date">
            </div>
            <%= submit_tag "Search", class: "button-btn-blue" %>
            <% end %>
          </div>
        </div>
    </div>
  </div>
</div>

<div class="container2">
  <div class="h1-suggestions"><h1>Our top choices</h1></div>
  <div class="row">
    <% @houses.first(8).each do |house| %>
      <div class="col-3 mt-2">
        <%= link_to house_path(house) do %>
          <div class="house-card-index">
            <div class="img-house-card-index">
              <% if house.photo.attached? %>
                <%= image_tag house.photo, alt: "house picture", id: "avatar", width: 250, height: 200, crop: :fill  %>
              <% else %>
                <%= image_tag "sf.jpeg", id: "avatar", width: 250, crop: :fill %>
              <% end %>
            </div>
            <div class="home-card-infos">
              <div class="house-name-address">
                <h1><%= house.name %></h1>
                <p><%= house.address %></p>
              </div>
              <div class="house-price-rating d-flex justify-content-between">
                <p><%= house.price %>€</p>
                <p><%= house.rating %></p>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

